.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  padding-left: 1%;
}

.App-logo-spin {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  padding-left: 1%;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding-top: 1px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
